# .prettierignore

# Ignore build directories
/.next/
/out/

# Ignore coverage reports
/coverage/

# Ignore TypeScript configuration files
tsconfig.json
tsconfig.*.json

# Ignore Node.js modules directory
node_modules/

# Ignore version control directories
.git/